/* DEBUG */
/* [class^='container'],[class^='col']{
  background-color: rgba(100, 148, 237, 0.209);
  border: 1px solid;
} */

header {
  position: fixed;
  right: 0;
  left: 0;
  background-color: rgb(44, 62, 80);
  height: 90px;
  z-index: 999;
  margin-bottom: 90px;
}

.md_jumbo,.about {
  color: white;
  background-color: rgb(26, 188, 156);
}

.star-block {
  position: relative;
}

.line-star {
  font-size: 1.2rem;
  font-weight: 800;
}

.line-star::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 43%;
  top: 50%;
  width: 5%;
  height: 4px;
  background-color: white;
  border-radius: 10px;
}

.line-star::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  right: 33%;
  top: 50%;
  width: 5%;
  height: 4px;
  background-color: white;
  border-radius: 10px;
}

.star-black {
  color: black;
}

.md_jumbo {
  padding-top: 90px;
}

.md_jumbo img {
  width: 225px;
}


.my_card img {
  border-radius: 10px;
  max-width: 100%;
}


.md_container {
  width: 70%;
  margin: 0 auto;
}

.md_input {
  border-top: none;
  border-right: none;
  border-left: none;
  padding-left: 0;
  border-radius: 0;
}
.md_btn {
  color: white;
  background-color: rgb(26, 188, 156);
  border: none;
  margin:10px 0 30px 0;
}

footer {
  color: white;
}

.footer-top {
  background-color: rgb(58, 84, 109);
}

.footer-bottom {
  background-color: rgb(44, 62, 80);
  height: 110px;
}

